# Python Cache / Bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
ENV/
*.venv/

# Environment Variables
.env

# Flask / App Data
instance/
*.db
database.db
*.session

# Security / Secrets (CRITICAL)
key.pem
cert.pem

# Logs
*.log
logs/

# VS Code / IDE
.vscode/
.history/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Build / Distribution

build/
dist/
*.egg-info/
