Flask==3.0.0
Flask-Mail==0.9.1
opencv-python-headless==4.8.1.78
numpy==1.24.3
python-dotenv==1.0.0
Werkzeug==3.0.1
blinker==1.7.0
click==8.1.7
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
gunicorn
flask-cors
deepface
tensorflow==2.12.0
keras
python-3.10.13