<!DOCTYPE html>
<html>
<head>
    <title>Scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to <span class="highlight">REAL ID</span></h1>
        <div class="video-box">
            <img src="{{ url_for('video_feed') }}" id="video-feed" />
            <div class="scan-line"></div>
        </div>
        <form method="get" action="{{ url_for('details') }}">
            <button type="submit">Proceed</button>
        </form>
        <form method="get" action="{{ url_for('logout') }}">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
